* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eaeaea9d;
    padding: 40px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.content {
    display: flex;
    gap: 30px;
}

.text {
    width: 60%;
}

.text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul,
ol {
    margin-left: 25px;
    margin-bottom: 20px;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
    border: 1px solid #ccc;
}


@media (max-width: 800px) {
    body {
        padding: 15px;
    }

    .container {
        padding: 20px;
    }

    .content {
        flex-direction: column;
        gap: 10px;
    }

    .text,
    .image {
        width: 100%;
    }

    h1 {
        font-size: 22px;
    }
}
