*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#one{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    background-size: cover;
    background-position: center;
    background-image: url(https://imgs.search.brave.com/mx4CFluKE19GBKsPBX4glKja-ayyTHiNgzELDivyAgc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2l0eXBuZy5jb20v/cHVibGljL3VwbG9h/ZHMvcHJldmlldy9j/YXJ0b29uLXNhbnRh/LWNsYXVzLXNpdHRp/bmctYmVzaWRlLWEt/Z2lmdC1ib3gtcG5n/LTcwMTc1MTY5NDc5/OTMzN2hrY2JkeTFm/Z2oucG5nP3Y9MjAy/NDEyMjQxMg);
}

#car1{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 100px;
    height: 120px;
    background-color: yellow;
}
#car2{
    width: 110px;
    height: 120px;
    background-color: blue;
}
#car3{
    width: 115px;
    height: 120px;
    background-color: purple;
}
#box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
#chota{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 100px;
    height: 100px;
    background-color: yellow;
}