*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    border: 1px solid black;
    padding: 15px;
}


#box3{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#box4{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#box2{
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#box1{
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.boxes p{
    text-align: right;
}

#outer-box{
    text-align: right;
}
